header{
    background-color: #06142E;
    position: fixed;
    z-index: 1000; 
    width: 100%;
    height: 10%;
}

.navigation{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: 100px;
    padding: 2.5% 0px;
}

.navigation li a{
    padding: 5% 10px 0px 10px;
    text-decoration: none;
    color: white;
}

.about-me-padding{
    padding: 0px 0px 0px 70%;
}

body{
    margin: 0px;
}

.landing-page{
    background-color: #06142E;
    padding:15% 20% 0 20%;
    display: flex;
    max-width:70%
}

.landing-page-container{
    display: flex;
}

.landing-page-image {
    padding: 0px 0px 0px 25%;
    max-width:10%;
    height: 500px;
}

.landing-page-text .name{
    font-family: "Rubik", sans-serif;
}

.landing-page-text .position, .greetings{
    font-family: "Lobster", sans-serif;
    color: #005AE0;
}

.landing-page-image .profile-img{
    z-index: 10;
    position: relative; 
}

.landing-page-image .img1 {
    padding: 0;
    position: relative; 
    bottom: 5%; 
    left: -50%;
    z-index: 3;
    max-width:100%;
}

.landing-page-image .gif1 {
    padding: 0;
    position: relative; 
    top: -110%; 
    left: 200%;
    max-width:200%;
    z-index: 2;
}

/*
.landing-page-image .gif2 {
    padding: 0;
    position: relative; 
    bottom: 50%; 
    left: 300%;
    max-width:100%;
    z-index: 5;
}*/

.landing-page-image .gif3 {
    padding: 0px 0px 0px 0px;
    position: relative; 
    bottom: 135%; 
    left: -90%;
    max-width:400%;
    z-index: 1;
    margin: 0;
}

.name{
    font-size: 100px;
}

.greetings{
    font-size: 40px;
    margin-left: 20px;
}

.position{
    font-size: 40px;
}

#about-me-page{
    background-color: #403A60;
    padding: 2% 20% 10% 20%;
    margin: 0px;
}

#about-me, #projects, #contacts{
    font-size: 30px;
    padding-bottom: 3%;
    text-align: center;
    color: #FF914D;
}



#projects-page{
    background-color: #06142E;
    padding: 2% 10% 5% 10%;
}


p, h3, li{
    color: white;
    margin: 0px;
    font-size: 25px;
    font-family: "Zain", sans-serif;
}

.project-container, .project2-container{
    display: flex;
    flex-wrap: wrap;
}


.project{
    width: 70%;
    padding: 0px 60px 50px 60px;
    flex: 1 1 10%; 
    margin: 10px;

}

.project img{
    height: 60%;
}

.project2{
    width: 70%;
    padding: 0px 60px 30px 60px;
    flex: 1 1 10%; 
    margin: 10px;
    height: 200%;

}


.project p, li{
    font-size: 20px;
}

.project-image{
    width: 90%;
    height: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

.project-image:hover{
    border: solid 5px #FF914D;
    box-shadow: -5px 14px 15px 5px #000000;
}

.project-title{
    text-align: center;
    margin-bottom: 5%;
}

#contact-me-page{
    background-color: #403A60;
    padding: 2% 10% 2% 10%;
}

.socials{
    width: 3%;
}

.socials:hover{
    width: 3.5%;
}

footer{
    background-color: #06142E;
    height: 100%;
    padding: 1% 0 1% 0;
    z-index: 1000; 

}

footer p{
    background-color: #06142E;
    font-size: 15px;
    text-align: center;
}


.pdf-container {
    width: 100%;
    height: 600px;
    border: 1px solid #000;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}
